@media only screen and (max-width: 1024px) {
   header .banner-text h1 {
      font: 80px/1.1em 'Roboto Slab', serif; font-weight: 400;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }
}
@media only screen and (max-width: 900px) {
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'Roboto Slab', serif; font-weight: 400;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 17px/1.9em 'Roboto Slab', serif; font-weight: 300;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }
   #about .profile-pic {
      width: 150px;
      height: 180px;
      margin-left: 12px;
   }
   #about .contact-details { width: 50%; }
   #about .download { width: 50%; text-align: center;}
   #resume h1 { font: 16px/24px 'Roboto Slab', serif; font-weight: 300;}
   #resume .main-col { padding-right: 5%; }   
@media only screen and (max-width: 767px) {
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'Roboto Slab', serif; font-weight: 400; }
   header .banner-text h3 {
      font: 17px/1.9em 'Open Sans', sans-serif; font-weight: 300;
      width: 80%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }
   header
   #about .download .button {
      position: center;
      width: 100%;
      text-align: center;
      padding: 15px 20px;
   }
   #about { text-align: center; }
   #about .main-col { padding-right: 30px; }
   #about .main-col p {position: left; text-align: left; }
   #resume .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #resume h1 { letter-spacing: 3px; }
   #resume .main-col { padding-right: 30px; }
   #resume h3, #resume .info { text-align: left; }
   .bars { width: 100%; }
   #contact { position: center; text-align: center; padding-right: 30px; }
}
@media only screen and (max-width: 480px) {
   header .banner { padding-top: 24px; }
   header .banner-text h1 {
      font: 40px/1.1em 'Open Sans', sans-serif; font-weight: 400;   
      margin: 0 auto 24px auto;
   }
   header .banner-text h3 {
      font: 17px/1.9em 'Open Sans', sans-serif; font-weight: 300;
      width: 90%;
   }
}